<!DOCTYPE html>
<html ng-app="envi" ng-csp>
<head lang="en">

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">

    <script type="application/javascript" src="js/jquery-1.11.2.js"></script>
    <script type="application/javascript" src="js/lodash.js"></script>

    <script type="application/javascript" src="js/angular.min.js"></script>
    <script type="application/javascript" src="js/main.js"></script>

</head>
<body id="options" ng-controller="domainManagerCtrl as ctrl">
<div class="container">
    <h3>Envi Options</h3>
    <hr>
    <ul id="menu" class="list-unstyled">

        <li>
            <form name="addForm" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Url<span class="required">*</span></label>

                    <div class="col-sm-10">
                        <input ng-model="ctrl.newUrl" class="form-control input-md" required
                               placeholder="http:// or https://">
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="bg-danger" ng-show="ctrl.Error">{{ctrl.Error}}</div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Label<span class="required">*</span></label>

                    <div class="col-sm-5">
                        <input class="form-control input-md" ng-model="ctrl.newLabel" required
                               placeholder="e.g., Production">
                    </div>
                    <div class="col-sm-5">
                        <select ng-model="ctrl.newLabelStyle" class="label-{{ctrl.newLabelStyle}} form-control domain ">
                            <option ng-repeat="lbl in ctrl.labels" value="{{lbl}}" class="label label-{{lbl}}">{{lbl}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <label for="matchByHostOnly">Match Tabs by Host Only (this ignores port and protocol) <input
                                type="checkbox" id="matchByHostOnly" ng-model="ctrl.matchByHostOnly"></label>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn btn-primary" ng-click="ctrl.addDomain()" id="add-url"><i
                                class="glyphicon glyphicon-plus-sign"></i>ADD HOST
                        </div>
                    </div>
                </div>
            </form>

        </li>
    </ul>
    <h4>Environment Hosts</h4>
    <hr>
    <div ng-hide="ctrl.domains.length">
        <i>No domains have been added.</i>
    </div>
    <table id="domains" class="table" ng-show="ctrl.domains.length">
        <tr>
            <th>Label</th>
            <th>Host</th>
            <th class="text-center">Match By Host Only</th>
            <th class="text-center">Action</th>
        </tr>
        <tr ng-repeat="domain in ctrl.domains track by $index">
            <td><span class="label label-{{domain.style}}">{{domain.label}}</span></td>
            <td><a href='{{domain.url.origin}}'>{{domain.url.origin}}</a></td>
            <td class="text-center"><span ng-hide="domain.edit" class="glyphicon"
                                          ng-class='{"glyphicon-check": domain.matchByHostOnly,"glyphicon-ban-circle": !domain.matchByHostOnly}'></span>
                <input type="checkbox" ng-model="domain.matchByHostOnly" ng-show="domain.edit">
            </td>
            <td class="text-center"><span class="glyphicon glyphicon-remove-circle"
                                          ng-click="ctrl.remove(domain)"></span><span
                    class="glyphicon glyphicon-edit" ng-hide="domain.edit" ng-click="domain.edit=true"></span>
                <span class="glyphicon glyphicon-save" ng-show="domain.edit" ng-click="ctrl.update(domain)"></span>
            </td>
        </tr>

    </table>
</div>
</body>
</html>